@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    flex-basis: 5%;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgb(161, 159, 159);
}

button {
    cursor: pointer;
}

.menu-reponsivo{
    display: none;
    background-color: transparent;
    border: none;
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo-mindmapper {
    width: 40px;
    height: 40px;
    background-color: #cce7f0;
    border-radius: 50%;
    margin-right: 10px;
}

.nome-mindmapper {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.pesquisar {
    display: flex;
    align-items: center;
    width: 50%;
}

.barra-pesquisa {
    padding: 10px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    width: 100%;
    background-color: #f0f0f0;
}

.login-btn {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn a{
    text-decoration: none;
    color: #201E1E;
}

.container-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-basis: 95%;
}

.container-nav{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 50px;
    z-index: 1;
    background-color: #DBE7F0;
    border-right: 2px solid rgb(161, 159, 159);
}

.container-nav.active {
    display: flex; 
}

.usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

.foto-usuario{
    display: none;
    background-color: #201E1E;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo-usuario{
    display: flex;
    background-color: #201E1E;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.container-btns-acao{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    justify-content: space-evenly ;
    margin-top: 10px;
}

.btns-acao{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 220px;
}

.container-btn{
    display: flex;
}

.lista-menu{
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    background-color: #FFFFFF;
    justify-content: space-between;
    cursor: pointer;
}

.lista-menu div{
    flex-grow: 1; 
    text-align: center; 
}

.container-contrair-menu{
    width: 100%;
    display: flex;
}

.container-contrair-menu button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: none;
}

ul, li {
    list-style-type: none;
    padding: 0;
}


#materias {
    padding: 20px;    
    flex-grow: 1;
    overflow-y: auto;
}

#materias-principais {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.botao-materias {
    background-color: #DBE7F0;
    width: 218px;
    height: 193px;
    border-radius: 20px;
    margin: 15px 40px 10px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.botao-materias:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.botao-materias h3 {
    background-color: #A8CBE5;
    border-radius: 20px 20px 0 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    flex-shrink: 0;
}

.botao-materias img {
    width: 70px;
    height: 70px;
    margin: auto 0;
}

/*Matérias secundárias*/
#materias-secundarias {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.materia-secundaria {
    display: none;
}

/*Estilo da AGENDA*/
#agenda-usuario {
    display: none;
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    /*  margin: 90px;*/
}

#agenda-usuario h1,  #agenda-usuario h2{
    display: block;
}
#agenda-usuario h1{
    font-size: 40px;
    color: rgb(6, 28, 48);
}
#agenda-usuario h2{
    font-size: 25px;
    margin-left: 10px;
    margin-top: 5%;
    color: rgb(11, 39, 65);
}

#titulo-materia {
    display: block;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 10px;
    height: 5%;
    width: 16%;
    margin-top: 20px;
    border: 1px solid #000;
    align-items: center;
}

#data-atividade {
    display: block;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 10px;
    height: 5%;
    width: 16%;
    margin-top: 15px;
    border: 1px solid #000;
    align-items: center;
}

#descricao {
    display: block;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 10px;
    height: 6%;
    width: 17%;
    margin-top: 15px;
    border: 1px solid #000;
    align-items: center;
}

#adicionar-tarefa {
    display: block;
    border-radius: 10px;
    width: 15%;
    height: 5%;
    margin-left: 10px;
    margin-top: 15px;
    background-color: #cce7f0;
    border: 2px solid rgb(9, 71, 122);
    position: relative;
    align-items: center;
}

#adicionar-tarefa:hover{
    background-color: #A8CBE5;
}

#atividade-lista{
    background-color: #cce7f0;
    display: block;
    margin-top: 20px;
    border: 2px solid rgb(9, 71, 122);
    position: relative;
    align-items: center;
    margin-left: 10px;
    width: 25%;
}


/*Estilo das ANOTACOES*/
#anotacoes {
    display: none;
}

#anotacoes h1{
    color: rgb(11, 39, 65);
    font-size: 40px;
    margin-left: 45px;
}

#nota{
    font-size: 15px;
    margin-left: 12%;
    border-radius: 10px;
    height: 15%;
    width: 50%;
    margin-top: 5%;
    align-items: center;
}

.nota-final{
    position: relative;
    display: inline;
    margin-left: 20%;
    align-items: center;
    background-color: #e0f2f8;
    border: 2px solid rgb(68, 108, 141);
}

#salvar{
    display: block;
    border-radius: 10px;
    width: 15%;
    height: 5%;
    margin-bottom: 35px;
    margin-left: 12%;
    margin-top: 10px;
    background-color: #cce7f0;
    border: 2px solid rgb(9, 71, 122);
    position: relative;
    align-items: center;  
}

#salvar:hover{
    background-color: #A8CBE5;
}

/*@media screen and (max-width: 900px) {    
}*/

@media screen and (max-width: 780px) {
    .container-nav{
        display: none ;
    }

    .foto-usuario{
        display: flex;
    }

    .menu-reponsivo{
        display: flex;
    }

    .pesquisar {
        display: none;
    }

    .login-btn {
        display: none;
    }

    .container-contrair-menu {
        display: none;
    }
}